services:
  postgres:
    image: postgres:latest
    container_name: postgres-nest
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestdb
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
